<div class="container">

  <div class="fb-like" (click)="alertt()" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button"
    data-action="like" data-size="small" data-share="false">
  </div>


  <!-- fb posts -->
  <div *ngIf="loginStatus" class="facebook-posts">
    <div>
      <h2>Facebook Posts</h2>
      <div class="row mb-5">
        <div class="col-md-3 posts" *ngFor="let item of data">
          <div class="card">
            <img src="{{item?.full_picture}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{item?.created_time | date:'h:mm, MMM d, y'}}</p>

              <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
                data-layout="button" data-action="like" data-size="small" data-share="false"></div>

              <a target="_blank" href='https://www.facebook.com/105751905654454/posts/101967406032904'
                class="btn btn-primary">Like</a>

              <h5 class="card-title">{{item?.message}}</h5>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

  </div>


  <!-- login form -->
  <div *ngIf="!loginStatus" class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
      <div class="card login mb-3">
        <div class="text-center">
          <h2 class="heading"><b>Elite Contact Manager Login</b></h2>
          <h5>🖤 Feel Free to Login here 🖤</h5>

          <p class="horizontal-line-text"></p>

        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div>
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Enter Email...">

            <div class="alert alert-danger" *ngIf="loginForm.controls['email'].dirty &&
              loginForm.hasError('required', 'email')">Username is required</div>
          </div>

          <div class="mt-1 mb-1">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter Password...">

            <div class="alert alert-danger" *ngIf="loginForm.controls['password'].dirty &&
              loginForm.hasError('required', 'password')">Password is required</div>
          </div>

          <div *ngIf="invalidCredientials" class="alert alert-danger">
            Incorrect Username or Password
          </div>
        </form>

        <!-- USER LOGIN -->
        <button [disabled]="!loginForm.valid" (click)="login()" type="submit" class="btn btn-dark btn-block mt-3 mb-2">
          <span><i class="fa fa-sign-in" aria-hidden="true"></i> Login</span>
        </button>
        <div> Don't have an Account? <a routerLink="/signup">Resister here</a></div>

        <p class="horizontal-line-text">
          <span class="spn">or</span>
        </p>

        <div class="external_login row">


          <div class="col-md-6">
            <!-- google login popup-->
            <asl-google-signin-button type="standard" data-size="large"> </asl-google-signin-button>
          </div>

          <div class="col-md-6 text-center">
            <!-- facebook login button -->
            <button class="btn btn-primary fb-btn" (click)="facebook()">
              <span><i class="fa fa-facebook"></i>&nbsp; Sign In with Facebook</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"> </div>
  </div>
</div>
